{% extends 'base.html' %}
{% load static %}
{% block title %} Brand Detail {% endblock %}
{% block content %}
<div class="card bg-dark text-white">
  {% if brand.image %}
  <img src="{{ brand.image.url }}" class="card-img" alt="...">
  {% else %}
    <img src="{% static 'img/user.def.png' %}" class="card-img" alt="...">
  {% endif %}
  <div class="card-img-overlay">
    <h5 class="card-title">{{ brand }}</h5>
    <p class="card-text">{{ brand.date_of_found }} </p>
    <h4> Произведения </h4>
        {% for watch in watches %}
    <p class="card-text">{{ watch }}</p>
    {% endfor %}
  </div>
</div>

{% endblock %}