{% extends 'base.html' %}
{% block title %} Bookshop {% endblock %}
{% load static %}
{% block content %}
   <img style="width: 100%; height: 50%;" src="{% static 'img/watch.jpg'%}" class="img-fluid" alt="...">
   <div style="margin-top: 30px;" class="container">
  <div class="row g-2">
    {% for model in models %}
    <div class  ="col-6">
      <div class="p-3 border bg-light"> <a href="{% url 'watch-list' model.slug %}">{{ model }} </a> </div>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}





